.content-wrapper {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 40px;
}

blockquote, .blockqoute {
  font-style: italic;
}

.btn.create-btn {
  width: 70px;
  height: 70px;
  font-weight: 700;
  font-size: 24px;
  border-radius: 50px;
  position: absolute;
  right: 0;
  bottom: 40px;
}
